@use "tailwindcss";

@theme {
  --color-primary-50: #EFF6FF;
  --color-primary-100: #DBEAFE;
  --color-primary-500: #3B82F6;
  --color-primary-600: #2563EB;
  --color-primary-700: #1D4ED8;

  --color-success-50: #F0FDF4;
  --color-success-100: #DCFCE7;
  --color-success-600: #16A34A;
  --color-success-700: #15803D;

  --color-danger-50: #FEF2F2;
  --color-danger-500: #EF4444;
  --color-danger-600: #DC2626;
  --color-danger-700: #B91C1C;

  --color-warning-50: #FFFBEB;
  --color-warning-200: #FDE68A;
  --color-warning-600: #D97706;
}
